@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");


/* other css files import */
@import url("sections/header.css");
@import url("sections/discover.css");
@import url("sections/bestseller.css");
@import url("sections/best-combo.css");
@import url("sections/about-us.css");
@import url("sections/footer.css");


/* variable declaration */
:root{
    --roboto :'Roboto', sans-serif;
    --playfair-display: "Playfair Display", serif;
    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

    --primary-color: #f8f9fa;
    --secondary-color: #333849;
}
body{
    margin: 0;
    background-color: var(--primary-color);
}


/* media queries header*/
@media (min-width: 350px) and (max-width:550px){
    .header-nav{
        display: block;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--primary-color);
    }
    .header-menu{
        justify-content: center;
        display: block;
    }
    .header__logo h4{
        display: none;
    }
    .header-menu2{
        justify-content: center;
        display: block;
    }
    .header-menu__item a{
        margin: 15px 0 0 0 ;
        color: var(--secondary-color);
        border-bottom: 2px solid var(--secondary-color);
    }
    .header-menu__item a:hover{
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
    .menu-icon{
        display: flex;
    }
    .header-content h2{
        font-size: 30px;
    }
    .header-content p{
        font-size: 19px;
    }
}

@media (min-width: 550px) and (max-width: 700px) {
    .header-nav{
        display: block;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        background-color: var(--primary-color);
    }
    .header-menu{
        justify-content: center;
        display: block;
    }
    .header__logo h4{
        display: none;
    }
    .header-menu2{
        justify-content: center;
        display: block;
    }
    .header-menu__item a{
        margin: 15px 0 0 0 ;
        color: var(--secondary-color);
        border-bottom: 2px solid var(--secondary-color);
    }
    .header-menu__item a:hover{
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
    .menu-icon{
        display: block;
    }
    .header-content h2{
        font-size: 40px;
    }
    .header-content p{
        font-size: 19px;
    }
}
/* Styles for mobile devices (up to 767px) */
@media  (min-width:720px) and (max-width:850px) {
    .header-nav{
        display: block;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        background-color: var(--primary-color);
    }
    .header-menu{
        justify-content: center;
        display: block;
    }
    .header__logo h4{
        display: none;
    }
    .header-menu2{
        justify-content: center;
        display: block;
    }
    .header-menu__item a{
        margin: 15px 0 0 0 ;
        color: var(--secondary-color);
        border-bottom: 2px solid var(--secondary-color);
    }
    .header-menu__item a:hover{
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
    .menu-icon{
        display: block;
    }
    .header-content h2{
        font-size: 30px;
    }
    .header-content p{
        font-size: 16px;
    }
}



  /*START media queries discover */
  @media (max-width:480px) {
    .discover-title{
        font-size: 2.2rem;
    }
    .discover p{
        font-size: 0.8rem;
    }
    .discover-link{
        font-size: 0.8rem;
        font-weight: 300;
    }
  }



  @media  (min-width:720px) and (max-width:900px)  {
    .discover-title{
        font-size: 3.5rem;
        margin-top: 20px;
    }
    .discover p{
        font-size: 1.1rem
    } 
  }

/* END */

/* START media queries bestseller */
@media  (max-width:550px)  {
    .bestseller-title{
        font-size:2.2rem
    }
    .bestseller-catalogue{
        flex-direction: row;
        flex-basis: 100%;
        flex: 1;
    }
    .bestseller__card{
        width: 50%;
    }
    .bestseller__card-title{
        font-size: 0.7rem;
    }
}
@media  (min-width:720px) and (max-width:920px){
    .bestseller__card-title{
        font-size: 0.8;
    }
}
/* END  */

/* START best-combo media queries */
@media  (min-width:350px){
    .best-combo{
        justify-content: center;
        padding: 10px;
        gap: 20px;
    }
    .best-combo__image{
        max-width: 20%;
    }
    .best-combo__content h3{
        font-size: 1rem;
    }
    .best-combo__content h5{
        font-size: 0.9rem;
    }
    .best-combo__content button{
        width: 140px;
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
}
@media  (max-width:550px) {
    .best-combo{
        justify-content: center;
        padding: 10px;
        gap: 20px;
    }
    .best-combo__image{
        max-width: 20%;
    }
    .best-combo__content h3{
        font-size: 1rem;
    }
    .best-combo__content h5{
        font-size: 1rem;
    }
    .best-combo__content button{
        width: 140px;
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
}
@media  (min-width:720px) and (max-width:850px){
    .best-combo__image{
        max-width: 55%;
    }
    .best-combo__content h3{
        font-size: 1.5rem;
    }
    .best-combo__content h5{
        font-size: 1.4rem;
    }
    .best-combo__content button{
        width: 140px;
    }
}
/* END */


/* START media queries about us section */
@media  (min-width:350px){
    .about-us__image{
        width: 55%;
    }
    .about-us__content h5{
        font-size: 1.2rem;
    }
    .about-us__content p{
        font-size: 1rem;
    }
}
@media  (max-width:550px){
    .about-us{
        margin-top: 100px;
    }
    .about-us__image{
        width: 70%;
    }
    .about-us__content h5{
        font-size: 1.1rem;
    }
    .about-us__content p{
        font-size: 0.8rem;
    }
}

@media  (min-width:720px) and (max-width:850px) {
    .about-us__image{
        width: 60%;
    }
}
/* END */

/* START media queries body caption */
@media  (max-width:550px){
    .body__caption{
        margin-top: 150px;
    }
    .body__caption h2{
        font-size: 2rem;
    }
}
/* END */

/* START media queries footer */
@media  (max-width:550px){
    .footer-sect-1 img{
        max-width: 50%;
    }
    .footer-sect-1 h2{
        font-size: 1.2rem;
    }
    .footer-nav a{
        font-size: 0.8rem;
    }
    .sub{
        font-size: 0.8rem;
    }
}